<html>
    <head>
        <title>Test Website</title>
        <meta name="viewport" content="width=device-width, inital-scale=1">
    </head>
    <style>
        body{
            background-color:black;
            background-repeat: no-repeat;
            background-position: top-left;
        }
        h1{
            text-align: center;
            color: white;
        }
        p{
            text-align: center;
            color:white;
        }
    </style>
    <body>
        <h1>
            Test Website
        </h1>
        <p>
            Here is a variable passed through flask
        </p>
        <p>variable x: {{x}}</p>
    </body>
</html>